<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607436767190-4uqge10ge7qi3ll0ovjh3g1c201nol0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607436767190-4uqge10ge7qi3ll0ovjh3g1c201nol0m</string>
	<key>API_KEY</key>
	<string>AIzaSyAE7WNHoSHJYNqGJlE1DrCGiNh2Noz9eUM</string>
	<key>GCM_SENDER_ID</key>
	<string>607436767190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abc.selling-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-selling-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-selling-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607436767190:ios:b0b3dcd503a1a1f15c6e77</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-selling-app.firebaseio.com</string>
</dict>
</plist>